:host {
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: #ff0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

.header__content {
  margin: 0 auto;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 30px;
}


.menu{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  &__item{
    font-size: 15pt;
    font-weight: 600;
    color: #000;
    margin-right: 15px;
  }
}
