:host {
  display: flex;
}

.wrapper__content {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content: space-around;
  background: #fff;
  transition: background 1.2s ease-out;
  transform: translateZ(0);
  flex: 1;
}

.wrapper {
  padding-top: 100px;
  width: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  background: hsla(0, 0%, 100%, .95);
  transform: translateZ(0);
}

.search__wrapper {
  display: block;
  width: 100%;
  height: 40px;
}

.search {

}

